@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #cb9483;
  --foreground: #515050;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: ':3';
  src: url('/fonts/Cecil34-6L7M') format('ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: ':3';
}
